
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RobertaKabalen</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <img src="/static/images/bg.png" class="background">
        <div class="card">
            <img src="/static/images/pfp.png" class="avatar">
            <h1>RobertaKabalen</h1>
            <h2>FivemCarDeveloper</h2>
            <div class="socials">
                <a href="#"><img src="/static/images/tiktok.svg"></a>
                <a href="#"><img src="#"><img src="/static/images/world.svg"></a>
                <a href="#"><img src="#"><img src="/static/images/facebook.svg"></a>
            </div>
            <p class="views">👁️ 10</p>
        </div>
    </div>
</body>
</html>
